services:
  - type: web
    name: spatialforge
    runtime: docker
    dockerfilePath: ./Dockerfile.cpu
    region: oregon
    envVars:
      - key: DEVICE
        value: cpu
      - key: TORCH_DTYPE
        value: float32
      - key: API_KEY_SECRET
        generateValue: true
      - key: ADMIN_API_KEY
        generateValue: true
      - key: REDIS_URL
        fromService:
          name: spatialforge-redis
          type: keyvalue
          property: connectionString
      - key: RESEARCH_MODE
        value: "false"
      - key: WORKERS
        value: "1"

  - type: keyvalue
    name: spatialforge-redis
    region: oregon
    maxmemoryPolicy: allkeys-lru
    ipAllowList:
      - source: 0.0.0.0/0
        description: everywhere
